.linkButton {
  margin: auto;
  display: block;
  background-color: green;
  color: white;
  border: none;
  border-radius: 11px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 240px;
}
